body, main, .move-display, #scoreboard, .image {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #570F7D;
    height: 100vh;
}

main {
    height: 100%;
}

header {
    font-size: 80px;
    color: white;
    text-align: center;
}

#display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-top: 7vh;
}

section div {
    text-align: center;
    align-items: center;
}

.move-display {
    align-items: center;
    height: 100%;
}

.image {
    box-sizing: border-box;
    background-color: #FFF5F4;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    min-height: 85%;
    width: 70%;
    margin-top: 1.5vh;

    border-color: #ffaf2d;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 5px #ffaf2d;
}

.rock {
    background-image: url(https://res.cloudinary.com/itsellej/image/upload/v1533400140/rock-paper-scissors/rock.png);
}
.paper {
    background-image: url(https://res.cloudinary.com/itsellej/image/upload/v1533400143/rock-paper-scissors/paper.png);
}
.scissors {
    background-image: url(https://res.cloudinary.com/itsellej/image/upload/v1533400144/rock-paper-scissors/scissors.png);
}

h2 {
    font-family: 'Bangers', sans-serif;
    color: #ffaf2d;
    text-shadow: 2px 2px 4px #AA22E7;
}

.move-display h2 {
    font-size: 35px;
}

#scoreboard {
    justify-content: space-around;
}

#scoreboard h2 {
    font-size: 45px;
}

span {
    display: block;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    border-width: 4px;
    border-style: solid;
    width: 60%;
}

.default {
    border-color: #01CAE6;
    color: #01CAE6;
}

.win {
    border-color: rgb(0, 226, 0);
    color: rgb(0, 226, 0);
}
.tie {
    border-color: #F9CA00;
    color: #F9CA00;
}
.lose {
    border-color: rgb(255, 36, 36);
    color: rgb(255, 36, 36);
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 7vh;
}

button {
    background-size: cover;
    width: 6vw;
    height: 6vw;
    min-width: 50px;
    min-height: 50px;
    margin: 0 2vw 0;

    border-radius: 50%;
    border-color: black;
    border-width: 0.25vw;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

#buttons .rock {
    background-color: #EB3391;
}
#buttons .paper {
    background-color: #F9CA00;
}
#buttons .scissors {
    background-color: #01CAE6;
}
